

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
 padding-top:0;	
}


.table span {
 padding-left:5px;	
}

.btn-social-icon {
	margin-bottom:5px;
}














